footer {
    background-color: #d0ac52;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: center;
  }
  
  img {
    max-width: 10%;
    height: auto;
    width: min-content;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
  }
  
  
  img:hover {
    transform: scale(1.22);
  }
  
  @media screen and (max-width: 768px) {
    footer {
      padding: 0.5rem;
    }
  }
  